In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import featuretools as ft

In [75]:
df = pd.read_csv("G:\Data Science\Kaggle Competitions dataset\Amazon ML Hiring Hackerearth/non_null_df_train.csv")
df.head()

,customer_visit_score,customer_product_search_score,customer_ctr_score,customer_stay_score,customer_frequency_score,customer_product_variation_score,customer_order_score,customer_affinity_score,customer_active_segment,X1
0,13.168425,9.447662,-0.070203,-0.139541,0.436956,4.705761,2.537985,7.959503,C,F
1,17.092979,7.329056,0.153298,-0.102726,0.380340,4.205138,4.193444,17.517381,C,A
2,17.505334,5.143676,0.106709,0.262834,0.417648,4.479070,3.878971,12.595155,C,BA
3,31.423381,4.917740,-0.020226,-0.100526,0.778130,5.055535,2.708940,4.795073,AA,F
4,11.909502,4.237073,0.187178,0.172891,0.162067,3.445247,3.677360,56.636326,C,AA

In [77]:
num_cols = ["customer_visit_score","customer_product_search_score",'customer_product_search_score',
       'customer_ctr_score', 'customer_stay_score', 'customer_frequency_score',
       'customer_product_variation_score', 'customer_order_score',
       'customer_affinity_score']

In [78]:
numerical_df =df.drop(['customer_active_segment','X1'],axis = 1)
numerical_df.dtypes

customer_visit_score                float64
customer_product_search_score       float64
customer_ctr_score                  float64
customer_stay_score                 float64
customer_frequency_score            float64
customer_product_variation_score    float64
customer_order_score                float64
customer_affinity_score             float64
dtype: object

In [79]:
def create_features(input_df):
    temp_df = pd.DataFrame()

    for c in range(len(input_df.columns)):

        for c1 in range(c+1,len(input_df.columns)):

            temp_df[f'{input_df.columns[c]} + {input_df.columns[c1]}'] = input_df[input_df.columns[c]] + input_df[input_df.columns[c1]]
            temp_df[f'{input_df.columns[c]} - {input_df.columns[c1]}'] = input_df[input_df.columns[c]] - input_df[input_df.columns[c1]]
            temp_df[f'{input_df.columns[c]} * {input_df.columns[c1]}'] = input_df[input_df.columns[c]] * input_df[input_df.columns[c1]]

        temp_df[f'LOG_{input_df.columns[c]}'] = np.log10(input_df[input_df.columns[c]])
    return temp_df

In [84]:
# 1 layer deep features
temp = create_features(numerical_df)
# To extensively form more features
temp = create_features(temp)

In [85]:
temp.shape

(10738, 12650)

In [86]:
temp.to_csv('G:\Data Science\Kaggle Competitions dataset\Amazon ML Hiring Hackerearth/extra_features.csv',index = False)

In [83]:
temp.to_csv('G:\Data Science\Kaggle Competitions dataset\Amazon ML Hiring Hackerearth/feature_engineered.csv',index = False)